/* Scroll */

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	background: #fff;
	width: 8px;
	height: 8px;
}
body::-webkit-scrollbar-thumb {
	background: #1d96f3 !important;
}
body {
	overflow-x: hidden;
}

/* ----- */

/* screenUp */

.screenUp {
	display: none;
	padding: 1px 8px;
	background: #1d96f3;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	border-radius: 40px;
}

/* -------- */

/* Backgrounds, textos e iconos */

.bg-blanco {
	background-color: #efefef !important;
}

.texto-nav {
	color: #ffffff !important;
}

.texto-nav:hover {
	color: #1d96f3 !important;
}

.icon {
	color: #ffffff;
	padding: 3px 3px 3px 3px;
	font-size: 100%;
}

/* ---------------------------- */

/* SideBar */

#sideBar {
	position: fixed;
	width: 240px;
	height: 100%;
	left: -240px;
	transition: all 200ms linear;
	z-index: 1000;
	overflow-x: hidden;
}

#sideBar.active {
	left: 0;
}

/* ------- */
