/* Tablas de los PDF */

.head {
	background-color: #ffffff;
	color: #000000;
	border: none;
}

.footer {
	font-size: 15px;
	background-color: #ffffff;
	color: #000000;
	border: none;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

th {
	font-size: 20px;
}

td {
	font-size: 15px;
}

th,
td {
	border: 1px solid black;
	padding: 7px;
}

.nada {
	border: none;
	padding: 15px;
}

.espacio {
	border: none;
	padding: 7px;
}

/* ----------------- */
