.bg-blanco {
  background-color: #EFEFEF !important;
}

.text-rojo{
	color: #ffffff !important;
}

.text-rojo:hover{
	color: #ff0000 !important;
}

.btn-rojo{
	color: #ffffff !important;
	background-color: #ff0000 !important;
}

.btn-rojo:hover{
	color: #ffffff !important;
	background-color: #E30004 !important;
}

.btn-pdf{
	color: #ffffff !important;
	background-color: #B90000 !important;
}

.btn-pdf:hover{
	color: #ffffff !important;
	background-color: #9A0007 !important;
}

.btn-rojito:hover{
	background-color: #ff0000 !important;
	border-color:  #ff0000 !important;
}

.btn{
	transition: 0.8s !important;
}

.btn:hover{
	transition: 0.8s !important;
	border-radius: 50px !important;
}

.icon {
	padding: 5px;
	font-size: 20px;
}